// Place all the styles related to the Tabela controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.tabela-tabel {
	width: 90%;
	color: #fff;
	position: relative;
	top: 50%;
	left: 5%;
	text-align:center;
	font-size:20px;
	counter-reset: row-num -1;
	background-attachment: fixed;
}
.tabela-tabel tr {
	counter-increment: row-num;
}
.tabela-tabel th {
	text-align:center;
}
.tabela-tabel tr td:first-child::before {
	content: counter(row-num) ". ";
}
.tabela-tabel h1 {
	font-size:30px;
	color:white;
}
.tabela-tabel tr td a {
	font-size:20px;
	color:white;
}
